<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" /> -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <title>To Do List</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">WIW</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>

  <br />
  <br />

  <div style="margin-left: 5%">
    <br>

    <h3>TABEL PASIEN</h3>

    <!-- Tabel 1 -->
    <div class="container-fluid d-flex d-inline-block">
      <div class="col-lg-8 col-md-8 col-sm-8 col-8 me-3 my-3 table-responsive d-inline-block">
  
        <!-- TABEL1 -->
  
        <table align="left" border="1" class="table text-center">
          <thead class="thead-dark">
            <tr>
              <th scope="col">NO</th>
              <th scope="col">NIK</th>
              <th scope="col">NAMA</th>
              <th scope="col">TEMPAT</th>
              <th scope="col">TANGGAL LAHIR</th>
              <th scope="col">GENDER</th>
              <th scope="col">EMAIL</th>
              <th scope="col">NO. TELEPON</th>
              <th scope="col">AKSI</th>
            </tr>
          </thead>
          <tr>
  
            DATA_TABEL
          </tr>
  
        </table>
        <br>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-3 m-3">
        <div class="card p-5 mr-3">
          <h2 class="card-title">Tambah Pasien</h2>
          <form action="index.php" method="POST">
            <div class="form-row mb-3">
              <div class="form-group col">
                <label for="nik">NIK</label>
                <input type="text" class="form-control" name="nik" required />
              </div>
            </div>
  
            <div class="form-row mb-3">
              <div class="form-group col">
                <label for="name">Nama</label>
                <input type="text" class="form-control" name="name" required />
              </div>
            </div>

            <div class="form-row mb-3">
              <div class="form-group col">
                <label for="place">Tempat</label>
                <input type="text" class="form-control" name="place" required />
              </div>
            </div>

            <div class="form-row mb-3">
              <div class="form-group col">
                <label for="date">Tanggal Lahir</label>
                <input type="date" class="form-control" name="date" required />
              </div>
            </div>

            <div class="form-row mb-3">
              <div class="form-group col">
                <label for="gender">Gender</label>
                <select class="form-select" name="gender" required >
                  <option value="Laki-laki">Laki-laki</option>
                  <option value="Perempuan">Perempuan</option>
                </select>
              </div>
            </div>

            <div class="form-row mb-3">
              <div class="form-group col">
                <label for="email">Email</label>
                <input type="text" class="form-control" name="email" required />
              </div>
            </div>

            <div class="form-row mb-3">
              <div class="form-group col">
                <label for="phone">No. Telepon</label>
                <input type="text" class="form-control" name="phone" required />
              </div>
            </div>
  
            DATA_BUTTON
          </form>
        </div>
      </div>
    </div>


  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</body>

</html>